*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #e93b0f, #aa692cdc, #ec2107);
}

.App {
    height: 100vh;
    width: 100%;
}

.calculadora-grid{
    display:grid;
    justify-content:center;
    align-content:center;
    min-height: 80vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(80px, auto) repeat(5, 80px);
}

.calculadora-grid > button{
    border-radius: lrem;
    cursor: pointer;
    font-size: lrem;
    font-weight: bold;
    color: rgba(10, 10, 14, 0.918);
    border:none;
    background-color: #f05ad775;
    margin: 3px;
}

.calculadora-grid > button:hover {
    background-color: #0323d8d2;
}

.span-two{
 grid-column: span 2;   
}

.output {
    grid-column: 1/ -1;
    margin-bottom: .5red;
    background-color: rgb(245, 238, 241);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 1rem;
    padding: 10px;
    word-wrap: break-word;
    word-wrap: break-all;
}

.output .previous-operand {
    color: #d80e0e90;
    font-size: 1.5rem;
}

.output{
    color: #e90d0def;
    font-size: 2.5rem;
}